$yo-purple: #9B59B6;
$turquoise: #1ABC9C;
$emerald: #2ECC71;
$peter: #3498DB;
$asphalt: #34495E;
$green: #16A085;
$sunflower: #F1C40F;
$belize: #2980B9;
$wisteria: #8E44AD;
$alizarin: #E74C3C;
$yo-font: 'Montserrat', Arial, sans-serif;